.imagef
{
    width:555px !important;
    height:300px !important;

}

.ofont
{
    font-family: 'Roboto', sans-serif;

}
.logo
{
    width:100px !important;
    height:100px !important;
    margin-top: 5px;
    border-radius: 50%;
    margin-bottom: 20px;

}
.main-image
{
    width: 1230px !important;
    height: 390px !important;
    align-items: center;
}
.backcolor
{

}